* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: lightblue;
  padding: 2rem;
  margin: auto;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25.88px;
}

p {
  color: #333;
}

h2 {
  margin: 0.5rem 0 0.5rem 0;
  color: #003147;
  font-size: 28px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: #3d75d0;
}

li {
  margin: 0.5rem 0 0 1rem;
}

.flex_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  margin: auto;
  background-color: white;
}

.column_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  padding: 0 2rem;
}

.work_experience_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work_experience {
  padding: 2rem 0;
}

.project {
  padding: 2rem 2rem 0 0rem;
  width: 100%;
}

.project h3 {
  font-weight: 900;
  font-size: 20px;
}

.project h4 {
  color: #626262;
  font-weight: 700;
}

.project p {
  margin-top: 1rem;
}

.project a {
  color: #0645AD;
}

.small_hr {
  width: 12%;
  margin-top: 2rem;
}

hr {
  margin-top: 2rem;
}

.summary {
  padding: 2rem 0;
}

.summary p {
  margin-top: 1rem;
}

.summary a {
  color: #0645AD;
}

.top_header {
  background-color: #003147;
  width: 332px;
  height: 100%;
  padding: 1rem;
}

.top_header h1 {
  font-size: 38px;
  font-weight: 800;
  margin: 0.5rem 0 1rem 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.top_header h2 {
  color: white;
  margin-top: 0.5rem;
  font-size: 38px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.top_header h3 {
  font-size: 1.2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.top_header h4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.top_header .waves {
  width: 100%;
}

.top_header .header_name {
  color: white;
  background-color: #0d5d77;
  padding: 1rem;
  text-align: center;
}

.top_header .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 2rem;
}

.top_header .header_info ul li::before {
  content: "\2022";
  color: #03a9f4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.top_header .header_info ul {
  list-style-type: none;
}

.top_header .header_info ul li {
  margin: 0 0 4px 0;
}

.top_header .header_info .header_info_item {
  padding: 8px 0;
  margin: 0.5rem 0 0.5rem 0;
  color: white;
}

.top_header .header_info .header_info_item i {
  font-size: 1.75rem;
  margin-right: 1rem;
  vertical-align: sub;
  color: #03a9f4;
}

.top_header .header_info .header_info_item a {
  color: white;
  text-decoration: none;
}

.skills {
  padding: 2rem 0;
}

.skills .skills_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills .skills_flex .skills_item_2, .skills .skills_flex .skills_item_3 {
  margin-left: 17.5%;
}

.skills li {
  list-style-type: none;
  margin: 2rem 0 0 0;
}

.skills i {
  margin: 2rem 12px 0 0;
  font-size: 1.5rem;
}

.interests {
  padding: 1rem 0;
}

.interests .interests_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 2rem;
}

.interests i {
  font-size: 1.75rem;
  vertical-align: sub;
  color: #3d75d0;
  margin-top: 1rem;
}

.interests .icon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  margin-right: 2rem;
}

.cover_body {
  background-color: white;
  width: 62% !important;
  padding: 0;
}

.cover_header {
  background-color: #003147;
  color: white;
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover_header h1 {
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.cover_header h2 {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.cover_header p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.cover_header a {
  color: white;
  text-decoration: none;
}

.cover_header .cover_header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coverletter_content {
  padding: 1rem;
}

.coverletter_content .mb-1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  .flex_main {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    width: 100%;
  }
  .top_header {
    width: 100%;
  }
  .top_header .header_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body {
    padding: 0;
  }
}

@media screen and (max-width: 1100px) {
  .work_experience_flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
}

@media screen and (max-width: 1400px) {
  .flex_main {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */